<div class="container mt-3">
  <div class="page-header">
    <h2>Editing Task</h2>
  </div>
</div>

<div class="container">
  <%= render 'form', task: @task %>
  <%= link_to 'Back', tasks_path %>
</div>
